html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    background: url("/views/img/back.jpg");
    font-family: sans-serif;
}

.loginbox {
    width: 20%;
    height: 50%;
    background: rgba(0,0,0, 0.8);
    color: #ff8004;
    top: 50%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 2%;
    padding: 70px 30px;
}

.avatar {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: calc(50% - 10%);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffeb00;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffeb00;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ff8004;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit" ]:hover {
    cursor: pointer;
    background: #ff0c07;
    color: #000000;
}

.loginbox a {

    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}

.footer {
    width: 100%;
    margin: auto;
    height: auto;
    background: black;
    padding: 20px 0px;
}

.footer_icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer_icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 25px;
    border-radius: 100%;
    background: #ff8004;
}

.footer_icons ul li:hover {
    background: #ff0c07;
}

.footer_icons ul li a {
    color: black;
    font-size: 20px;
    display: block;
}

.footer_icons ul li a i {
    line-height: 50px;
}

.footer_bot {
    width: 100%;
    height: 16px;
    margin: 0;
    background: #ff0054;
    padding: 0;
}

.footer_bot p {
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: black;
    margin: 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer_bot p a {
    text-decoration: none;
    color: black;
}

.bottom {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
